In [1]:
import urllib.request
import urllib
import pandas as pd

In [2]:
# qcewCreateDataRows : This function takes a raw csv string and splits it into
# a two-dimensional array containing the data and the header row of the csv file
# a try/except block is used to handle for both binary and char encoding
def qcewCreateDataRows(csv):
    dataRows = []
    try: dataLines = csv.decode().split('\r\n')
    except er: dataLines = csv.split('\r\n');
    for row in dataLines:
        dataRows.append(row.split(','))
    return dataRows

In [3]:
# qcewGetAreaData : This function takes a year, quarter, and area argument and
# returns an array containing the associated area data. Use 'a' for annual
# averages. 
# For all area codes and titles see:
# http://www.bls.gov/cew/doc/titles/area/area_titles.htm
#
def qcewGetAreaData(year,qtr,area):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/[QTR]/area/[AREA].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[QTR]",qtr.lower())
    urlPath = urlPath.replace("[AREA]",area.upper())
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)

In [4]:
# qcewGetIndustryData : This function takes a year, quarter, and industry code
# and returns an array containing the associated industry data. Use 'a' for 
# annual averages. Some industry codes contain hyphens. The CSV files use
# underscores instead of hyphens. So 31-33 becomes 31_33. 
# For all industry codes and titles see:
# http://www.bls.gov/cew/doc/titles/industry/industry_titles.htm
#
def qcewGetIndustryData(year,qtr,industry):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/[QTR]/industry/[IND].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[QTR]",qtr.lower())
    urlPath = urlPath.replace("[IND]",industry)
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)

In [5]:
# qcewGetSizeData : This function takes a year and establishment size class code
# and returns an array containing the associated size data. Size data
# is only available for the first quarter of each year.
# For all establishment size classes and titles see:
# http://www.bls.gov/cew/doc/titles/size/size_titles.htm
#
def qcewGetSizeData(year,size):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/1/size/[SIZE].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[SIZE]",size)
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)

In [6]:
Michigan_Data = qcewGetAreaData("2015","1","26000")
Auto_Manufacturing = qcewGetIndustryData("2015","1","3361")
SizeData = qcewGetSizeData("2015","6")

In [7]:
# prints the industry_code in row 5.
# remember row zero contains field names
print(Michigan_Data[5][2])

"1022"

In [8]:
# prints the area_fips in row 1.
# remember row zero contains field names
print(Auto_Manufacturing[1][0])

"01000"

In [9]:
# prints the own_code in row 1.
# remember row zero contains field names
print(SizeData[1][1])

"5"

In [14]:
df = pd.DataFrame(Michigan_Data)

In [16]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,"""area_fips""","""own_code""","""industry_code""","""agglvl_code""","""size_code""","""year""","""qtr""","""disclosure_code""","""qtrly_estabs""","""month1_emplvl""",...,"""oty_month3_emplvl_chg""","""oty_month3_emplvl_pct_chg""","""oty_total_qtrly_wages_chg""","""oty_total_qtrly_wages_pct_chg""","""oty_taxable_qtrly_wages_chg""","""oty_taxable_qtrly_wages_pct_chg""","""oty_qtrly_contributions_chg""","""oty_qtrly_contributions_pct_chg""","""oty_avg_wkly_wage_chg""","""oty_avg_wkly_wage_pct_chg"""
1,"""26000""","""0""","""10""","""50""","""0""","""2015""","""1""","""""",236663,4044960,...,69063,1.7,1861673917,3.8,668478069,3.2,-65366289,-7.1,18,1.9
2,"""26000""","""1""","""10""","""51""","""0""","""2015""","""1""","""""",1548,50895,...,530,1.0,27598552,2.8,0,0.0,0,0.0,33,2.2
3,"""26000""","""1""","""102""","""52""","""0""","""2015""","""1""","""""",1548,50895,...,530,1.0,27598552,2.8,0,0.0,0,0.0,33,2.2
4,"""26000""","""1""","""1021""","""53""","""0""","""2015""","""1""","""""",889,20398,...,257,1.3,4659924,1.4,0,0.0,0,0.0,12,0.9